version: '3.8'

volumes:
  {{ traefik_certs_docker_volumn }}:
    external: true

networks:
  public-net:
    external: true

services:
  traefik:
    image: traefik:v3.4.1
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/traefik/traefik.yaml:/etc/traefik/traefik.yaml
      - {{ traefik_certs_docker_volumn }}:/etc/traefik/certs
    networks:
      - public-net
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role == manager]
      labels:
        - traefik.enable=true

        # format for exposing other services
        - traefik.http.routers.traefik_dashboard.rule=Host(`traefik.{{ host_domain }}`)
        - traefik.http.routers.traefik_dashboard.entrypoints=websecure
        - traefik.http.routers.traefik_dashboard.tls=true
        - traefik.http.routers.traefik_dashboard.tls.certresolver=leresolver
        - traefik.http.routers.traefik_dashboard.service=api@internal
        - traefik.http.services.api@internal.loadbalancer.server.port=8080

        # middlewares
        - traefik.http.middlewares.simple_auth.basicauth.users=thanh:$$apr1$$Ks.lILyE$$4hnbFR1eV8Mr0OZKq4L4M0
        - traefik.http.routers.traefik_dashboard.middlewares=simple_auth


