version: '3.9'

volumes:
  {{ traefik_certs_docker_volume }}:
    external: true

networks:
  public-net:
    external: true

services:
  traefik:
    image: traefik:{{ traefik_version }}
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/traefik/traefik.yaml:/etc/traefik/traefik.yaml
      - {{ traefik_certs_docker_volume }}:/etc/traefik/certs
    environment:
      - CF_DNS_API_TOKEN=$CF_DNS_API_TOKEN # prepare environment on docker host machine
    networks:
      - public-net
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role == manager]
      resources:
        limits:
          cpus: "0.2"
          memory: 128M
