api:
  dashboard: true
  insecure: false

log:
  level: {{ traefik_log_level }}
  format: common

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: :443
    http:
      tls:
        certresolver: leresolver 
        # this is for catch-all requests to traefik, before even getting to the routers
        # if having a multi-host environment then this needs to be adapted

providers:
  swarm:
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: false
    network: public-net
    watch: true

certificatesResolvers:
  leresolver:
    acme:
      email: {{ traefik_certs_acme_email }}
      caServer: {{ traefik_certs_ca_server }}
      storage: /etc/traefik/certs/acme.json
      dnsChallenge:
        provider: {{ traefik_certs_dns_provider }}
        # have to manually configure secrets that contain the environment variables that are used by provider